@import "../variables";

.article__list  {    
    border-bottom: 1px solid $dark-gray;
    border-top: 1px solid $dark-gray;
    counter-reset: item-counter;
    list-style: none;                     
    padding-bottom: 1.5rem;
    padding-left: 0;  
    padding-top: 1.5rem;   

    &-title {
        color: $primary-color;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    &-text {
        color: $dark-gray;
        line-height: 1.6;
        margin: 0;
    }

    li {
        counter-increment: item-counter;
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 3rem;
        padding-left: 4rem;
        position: relative;

        &::before {
            align-items: center;
            background-color: $light-gray;
            border-radius: 50%;
            color: $primary-color;
            content: counter(item-counter);
            display: flex;
            font-size: 1.5rem;
            font-weight: 500;
            height: 3rem;
            justify-content: center;
            left: 0;
            position: absolute;
            top: -0.25rem;
            width: 3rem;
        }

        &:not(:last-child)::after {
            background-color: $light-gray;
            content: '';
            height: 4rem;
            left: 1.5rem;
            position: absolute;
            top: 6rem;
            width: 1px;
        }
    }
}