.progress {
    background-color: $black-transparent-3;
    border: 1px solid rgba($success, 0.2);
    border-radius: 1rem;
    height: 1.5rem;
    margin: 1rem 0;
    overflow: hidden;

    &-bar {
        background-color: $success;
        overflow: hidden;
        position: relative;
        transition: width 0.6s ease;

        // Efecto de brillo
        &::after {
            animation: shine 2s infinite;
            background: linear-gradient(
                90deg,
                transparent,
                $transparent-grey,
                transparent
            );
            content: '';
            height: 100%;
            left: -100%;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

@keyframes shine {
    100% {
        left: 100%;
    }
}