#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
}

// Asegúrate de que el contenido del juego esté por encima del confeti
.container {
    position: relative;
    z-index: 1001;
}

// Game styles
.game {
    &__terminal {
        backdrop-filter: blur(5px);
        background-color: $black-transparent !important;
        border: 1px solid $dark-green !important;
        box-shadow: 0 0 20px $dark-green-2;
        transition: none !important; // Elimina cualquier transición
        
        &:hover {
            transform: none !important; // Elimina la transformación en hover
            box-shadow: 0 0 20px $dark-green-2 !important; // Mantiene la misma sombra
        }
    }

    &__console-output {
        font-family: 'Courier New', monospace;
        height: 400px;
        overflow-y: auto;
        background: $black-transparent-2;
        border-radius: 4px;
        
        &::-webkit-scrollbar {
            width: 8px;
        }
        
        &::-webkit-scrollbar-track {
            background: $black-transparent;
        }
        
        &::-webkit-scrollbar-thumb {
            background: $dark-green;
            border-radius: 4px;
        }
    }

    &__input-group {
        .input-group-text,
        .form-control,
        .btn {
            border-color: $dark-green;
        }

        .form-control:focus {
            box-shadow: 0 0 0 0.25rem $dark-green;
        }
    }

    &__instructions {
        backdrop-filter: blur(5px);
        background-color: $light-black;
        border: 1px solid $dark-green;
        transition: none !important; // Elimina cualquier transición
        
        &:hover {
            transform: none !important; // Elimina la transformación en hover
            box-shadow: none !important; // Elimina la sombra en hover
        }
    }
}

// Message styles
.game-success {
    color: $primary-color;
}

.game-error {
    color: $accent-color;
}

.game-warning {
    color: $orange;
}

.game-input {
    color: #fff;
    margin-bottom: 0.5rem;
    
    .prompt {
        color: $fluor;
        margin-right: 0.5rem;
    }
}

.game-output {
    margin-bottom: 1rem;
}

// Typed.js cursor
.typed-cursor {
    color: $fluor;
}