<footer class="footer bg-dark text-light py-3">
    <div class="container">
        <div class="row align-items-center">
            <!-- Columna izquierda -->
            <div class="col-md-4 text-center text-md-start">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="./index.html" class="text-light text-decoration-none link-success">
                            CyberSec
                        </a>
                    </li>
                </ul>
            </div>
            
            <!-- Columna central con enlaces -->
            <div class="col-md-4 text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="./index.html" class="text-light text-decoration-none link-success">Inicio</a>
                    </li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item">
                        <a href="./article.html" class="text-light text-decoration-none link-success">Artículos</a>
                    </li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item">
                        <a href="./speakers.html" class="text-light text-decoration-none link-success">Ponientes</a>
                    </li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item">
                        <a href="./game.html" class="text-light text-decoration-none link-success">Juego</a>
                    </li>
                </ul>
            </div>
            
            <!-- Columna derecha con enlaces sociales -->
            <div class="col-md-4 text-center text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item ms-3">
                        <a href="https://www.uoc.edu" class="text-light text-decoration-none link-success" target="_blank">
                            UOC
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>