<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="./index.html">
            <img src="./assets/images/logo-main.png" alt="CyberSec Logo" height="30" class="d-inline-block align-text-top me-2">
            CyberSec
        </a>

        <!-- Botón hamburguesa para móvil -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./article.html">Articulos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./speakers.html">Ponientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./gallery.html">Galería</a>
                </li>
            </ul>
        </div>
    </div>
</nav>