$primary: #000000; // Cambia el color primario a rojo
$success: #4caf50;
$body-font-family: 'Roboto', sans-serif; // Cambia la fuente por defecto
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Importa Bootstrap usando la ruta completa
@import 'bootstrap/scss/bootstrap';